{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 ">



      <h4>My Bookings:</h4>

      <br />
<!-- Loads all of the Current users reservations in a list and displays all  the details -->
      {% for bookings in bookings %}

         <a class="btn btn-sm btn-danger pull-right" href="{% url 'cancelbooking' bookings.id %}">Cancel</a>
       <!-- <a  class="btn btn-sm btn-default pull-right "href="">Download PDF</a> -->
        <h5><u> {{ bookings.hotel_id.name }}</u></h5>
        <p><mark>Room Type :</mark> {{ bookings.roomtype }}.  </p>
        <p><mark>Guest Name :</mark>  {{ bookings.guestFirstName }} {{ bookings.guestLastName }}.  </p>
        <p><mark>Check-in Date :</mark> {{ bookings.CheckIn }}.  </p>
        <p><mark>Check-out Date:</mark> {{ bookings.CheckOut }}.  </p>
        <p><mark>Total Price :</mark> £{{ bookings.totalPrice }}.  </p>


        <hr />
{% endfor %}
    </div>
  </div>
{% endblock %}
